@import "../../../../../global-styles/variables";

.modal {
  .modalContent {
    position: relative;
    z-index: 2;
    margin-top: -40px;
    height: 100%;
  }
}

.creditCard {
  padding: 27px 36px 0 27px;
}
