@import "../variables";

.button {
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  font-weight: $font-bold;
  padding: 15px;
  outline: none;
  cursor: pointer;

  &.-slim {
    font-weight: $font-normal;
    border-radius: 6px;
    padding: 11px 15px;
  }

  &.-green {
    background: $emerald-color;
    color: $white-color;
    opacity: 0.7;

    &.-inverse {
      opacity: 1;
      background: $transparent-color;
      color: $emerald-color;
      border: 1px solid $emerald-color;
      padding: 14px;

      &.-slim {
        padding: 10px 14px;
      }

      &:hover {
        background: $emerald-color;
        color: $white-color;
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  &[disabled] {
    opacity: 0.7;
  }

  &.-default {
    font-family: $font-family-regular;
    opacity: 1;
    font-size: 20px;
    line-height: 20px;
    border-radius: 4px;
    padding: 11px;
    min-width: 190px;

    &.-blue {
      background: $denim-color;
      border: 1px solid $denim-color;
      color: $white-color;

      &:hover, &.-inverse {
        background: $transparent-color;
        border: 1px solid $denim-color;
        color: $denim-color;
      }

      &.-inverse {
        &:hover {
          background: $denim-color;
          border: 1px solid $denim-color;
          color: $white-color;
        }
      }
    }

    &.-green {
      background: $jungle-green-color;
      border: 1px solid $jungle-green-color;
      color: $white-color;

      &:hover, &.-inverse {
        background: $transparent-color;
        border: 1px solid $jungle-green-color;
        color: $jungle-green-color;
      }

      &.-inverse {
        &:hover {
          background: $jungle-green-color;
          border: 1px solid $jungle-green-color;
          color: $white-color;
        }
      }
    }

    &.-gray {
      background: $iron-color-2;
      border: 1px solid $trout-color;
      color: $trout-color;

      &:hover, &.-inverse {
        background: $transparent-color;
        border: 1px solid $trout-color;
        color: $trout-color;
      }

      &.-inverse {
        &:hover {
          background: $iron-color-2;
          border: 1px solid $trout-color;
          color: $trout-color;
        }
      }
    }
  }
}
