@import "../variables";

.form {
  .form-row {
    & + .form-row {
      margin-top: 20px;

      &.-tiny {
        margin-top: 15px;
      }
    }

    .form-col {
      padding: 0 15px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.-no-offset {
        padding: 0;
      }
    }
  }

  .form-footer {
    &.-fixed {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding: 20px 150px;
      margin: 0;
    }

    &.-gray {
      background: $black-haze-color;
      border-top: 1px solid $silver-sand-color;
    }
  }
}