@import "../variables";

.text-input {
  width: 100%;

  input {
    width: 100%;
    border-bottom: 1px solid $heather-color;
    color: $shark-color;
    font-size: 16px;
    padding: 16px 8px;
    outline: none;
  }

  &.-default {
    input {
      color: $tundora-color;
      border: 1px solid $iron-color;
      background: $white-color;
      border-radius: 4px;
      padding: 10px 35px 10px 10px;
      font-size: 14px;

      &:focus {
        border-color: $dodger-blue-color;
      }
    }
  }

  &.-bordered {
    input {
      color: $black-color;
      border-bottom: 1px solid $dusty-gray-color;
      background: $transparent-color;
      padding: 0 0 4px 0;
      font-size: 18px;

      &:focus {
        border-color: $curious-blue-color;
      }
    }
  }

  &.-internal {
    input {
      border-radius: 4px;
      color: $black-color;
      border: 1px solid $iron-color-2;
      background: $transparent-color;
      padding: 12px;
      font-size: 16px;

      &:focus {
        border-color: $silver-sand-color;
      }
    }
  }

  .text-input-label {
    color: $heather-color;
    text-transform: uppercase;
    font-size: 13px;
    pointer-events: none;

    &.-default {
      color: $tundora-color;
      display: block;
      text-transform: none;
      pointer-events: auto;
      font-size: 16px;
    }
  }

  .text-input-error {
    color: $red-orange-color;
    text-transform: uppercase;
    font-size: 9px;
  }

  .text-input-icon {
    line-height: 16px;
    font-size: 16px;

    &.-right {
      text-align: right;
    }
  }
}
