@import "../../../global-styles/variables";

.header {
  background: $white-color;
  border-bottom: 1px solid $iron-color;
  padding: 25px 30px;
  min-height: 69px;
  box-shadow: 0 2px 1px -2px $iron-color;

  .headerTitle {
    color: $oxford-blue-color;
    font-size: 18px;
    line-height: 18px;
  }

  .headerLogo {
    line-height: 19px;
  }
}
