@import "../../../global-styles/variables";

.page {
  background: transparentize($silver-color, 0.8);
  left: 0;
  right: 0;
  min-height: 100%;
  position: absolute;
  font-family: $font-family-regular;
  font-weight: normal;

  .pageSidebar {
    background: $limed-spruce-color;
    width: $main-sidebar-width;
    position: fixed;
    z-index: 60;
    left: 0;
    height: 100%;
    border-right: 1px solid $iron-color;
    overflow-y: auto;
  }

  .pageContent {
    position: relative;
    margin-left: $main-sidebar-width;
    margin-right: 0;
    width: auto;

    .pageContentWrapper {
      padding: 20px;
    }
  }
}
