@import "../../../../global-styles/variables";

.balance {
  color: $black-color;

  .companyName {
    font-size: 22px;
    line-height: 22px;
  }

  .accountBalance {
    margin-top: 18px;
    font-family: $font-family-bold;

    .accountBalanceAmount {
      font-size: 58px;
      line-height: 58px;
    }

    .accountBalanceTitle {
      font-size: 26px;
      line-height: 26px;
    }
  }

  .eWalletBalance {
    margin-top: 36px;

    & > div {
      display: inline-block;
      vertical-align: middle;

      &:first-child {
        padding-right: 26px;
      }
    }

    .eWalletBalanceAmount {
      color: $tundora-color;
      font-family: $font-family-bold;
      font-size: 22px;
      line-height: 22px;
    }

    .eWalletBalanceTitle {
      margin-top: 2px;
      font-size: 18px;
      line-height: 18px;
    }
  }
}