@import "../../../global-styles/variables";

.page {
  .pageTitle {
    color: $shark-color;
    margin-top: 50px;
    font-size: 18px;
  }

  .pageForm {
    margin-top: 53px;
    .pageFormInput {
      & + .pageFormInput {
        margin-top: 45px;
      }
    }

    .pageFormButton {
      margin-top: 63px;
    }
  }
}
