@import "../../../global-styles/variables";

.page {
  .pageTitle {
    color: $shark-color;
    font-size: 18px;

    & + .pageForm {
      margin-top: 40px;
    }
  }

  .pageForm {
    .pageFormInput {
      & + .pageFormInput {
        margin-top: 35px;
      }
    }

    .pageFormButton {
      margin-top: 45px;
    }
  }
}
