@import "../../../global-styles/variables";

.sidebar {
  .sidebarMenu {
    padding: 90px 0 18px 0;

    .sidebarMenuItems {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .sidebarMenuItemsGroup {
      &, ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      & + .sidebarMenuItemsGroup {
        margin-top: 36px;
      }
    }

    .sidebarMenuItem {
      cursor: pointer;
      color: $white-color;
      font-size: 22px;
      line-height: 22px;
      position: relative;

      .sidebarMenuItemTitle {
        padding: 5px 18px;
      }

      & > ul {
        font-size: 16px;
        line-height: 16px;
        padding: 0 18px;

        li {
          padding: 9px 0;
        }
      }

      &.sidebarMenuItemActive {
        color: $white-color;

        .sidebarMenuItemTitle {
          background: transparentize($nevada-color, 0.5);
        }
      }

      &.sidebarMenuItemTiny {
        font-size: 13px;
        line-height: 13px;

        .sidebarMenuItemTitle {
          padding: 9px 18px;
        }
      }
    }
  }
}
