@import "../../../../../global-styles/variables";

.transactionStatus {
  text-align: center;
  margin-top: 100px;

  .transactionStatusTitle {
    vertical-align: middle;
    color: $red-orange-color;
    font-family: $font-family-regular;
    font-size: 32px;
    line-height: 35px;
  }

  .transactionStatusIcon {
    margin-top: 30px;
  }

  .transactionStatusButton {
    margin-top: 120px;
    display: inline-block;
  }
}