@import "./variables";

.link {
  color: inherit;

  &, &:hover {
    text-decoration: none;
  }

  &.-underline {
    &, &:hover {
      text-decoration: underline;
    }
  }

  &.-gray {
    color: $oslo-gray-color;
  }

  &.-blue {
    color: $denim-color;
  }
}