@import "./variables";

@import "./typography";
@import "./links";
@import "./images";

@import "./form/buttons";
@import "./form/inputs";

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &.fontLoaded {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

#app {
  background-color: $white-color;
  min-height: 100%;
  min-width: 100%;
}