@import url("https://fast.fonts.net/cssapi/b8dffe40-4194-4aef-b167-4b8857139e85.css");

@import "./variables";

@import "./typography";
@import "./links";
@import "./images";

@import "./form/form";
@import "./form/buttons";
@import "./form/inputs";

html, body {
  height: 100%;
  width: 100%;
}

body {
  &, input, textearea, button {
    font-family: $default-font-family;
  }

  &.fontLoaded {
    font-family: $full-font-family;
  }
}

#app {
  background-color: $white-color;
  min-height: 100%;
  min-width: 100%;
}