$red-orange-color: #FE3824;
$pastel-green-color: #5BEA94;
$masala-color: #494643;
$solver-color: #CDCCCC;
$black-color: #000000;
$white-color: #FFFFFF;
$shark-color: #1E2022;
$emerald-color: #50D166;
$heather-color: #B9C0CF;
$aqua-haze-color: #EFF3F6;
$iron-color: #DFE2E5;
$iron-color-2: #E5E7E8;
$oxford-blue-color: #354052;
$tundora-color: #4A4A4A;
$dodger-blue-color: #1DA1F2;
$athens-gray-color: #EEF0F3;
$regent-gray-color: #7F8FA4;
$limed-spruce-color: #36414C;
$silver-color: #C1C1C1;
$nevada-color: #6A7076;
$denim-color: #1A7CD0;
$jungle-green-color: #2EC667;
$trout-color: #4F5962;
$oslo-gray-color: #81888F;
$alabaster-color: #FAFAFA;
$curious-blue-color: #1E88E5;
$dusty-gray-color: #979797;
$flamingo-color: #F45531;
$shamrock-color: #34DB70;
$punch-color: #DB4E2F;
$silver-sand-color: #C0C4C7;
$black-haze-color: #F7F8F8;
$boulder-color: #767676;
$wattle-color: #E0D43B;
$transparent-color: transparent;

$inner-app-width: 980px;

$font-light: 300;
$font-normal: normal;
$font-bold: bold;

$default-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$full-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-family-thin: 'Camphor W01 Thin';
$font-family-thin-italic: 'Camphor W01 Thin Italic';
$font-family-light: 'Camphor W01 Light';
$font-family-light-italic: 'CamphorW01-LightItalic';
$font-family-regular: 'Camphor W01 Regular';
$font-family-italic: 'Camphor W01 Italic';
$font-family-medium: 'Camphor W01 Medium';
$font-family-medium-italic: 'CamphorW01-MediumItalic';
$font-family-bold: 'Camphor W01 Bold';
$font-family-bold-italic: 'Camphor W01 Bold Italic';
$font-family-heavy: 'Camphor W01 Heavy';
$font-family-heavy-italic: 'CamphorW01-HeavyItalic';

$main-sidebar-width: 225px;
