$red-orange-color: #FE3824;
$pastel-green-color: #5BEA94;
$masala-color: #494643;
$solver-color: #CDCCCC;
$black-color: #000000;
$white-color: #FFFFFF;
$shark-color: #1E2022;
$emerald-color: #50D166;
$heather-color: #B9C0CF;
$aqua-haze-color: #EFF3F6;
$iron-color: #DFE2E5;
$oxford-blue-color: #354052;
$tundora-color: #4A4A4A;
$transparent-color: transparent;

$inner-app-width: 980px;

$font-light: 300;
$font-normal: normal;
$font-bold: bold;

$default-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$full-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;