$red-orange-color: #FE3824;
$pastel-green-color: #5BEA94;
$masala-color: #494643;
$solver-color: #CDCCCC;
$black-color: #000000;
$white-color: #FFFFFF;
$shark-color: #1E2022;
$emerald-color: #50D166;
$heather-color: #B9C0CF;
$aqua-haze-color: #EFF3F6;

$inner-app-width: 980px;